.speaker--card {
  position: relative;
  overflow: hidden;
}
.speaker--card:hover.big .speaker--card-image {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.speaker--card:hover.big .speaker--card-profile {
  bottom: 80px;
  transition: bottom 0.5s;
}
.speaker--card:hover.big .speaker--card-socials {
  visibility: visible;
  display: flex;
  width: 100%;
  height: 70px;
  padding-left: 33px;
  left: 0;
  bottom: 0;
  z-index: 3;
  transition: bottom 0.5s;
}
.speaker--card:hover.big .speaker--card-socials .socials {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
}
.speaker--card:hover.big .speaker--card-socials .socials .social {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: none;
}
.speaker--card:hover.big .speaker--card-socials .socials .social:first-child {
  margin-right: 10px;
}
.speaker--card:hover.medium .organizer--card-image {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.speaker--card:hover.medium .organizer--card-profile {
  bottom: 60px;
  transition: bottom 0.5s;
}
.speaker--card:hover.medium .organizer--card-socials {
  visibility: visible;
  display: flex;
  width: 100%;
  height: 60px;
  padding-left: 23px;
  left: 0;
  bottom: 0;
  z-index: 3;
  transition: bottom 0.5s;
}
.speaker--card:hover.medium .organizer--card-socials .socials {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
}
.speaker--card:hover.medium .organizer--card-socials .socials .social {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: none;
}
.speaker--card:hover.medium .organizer--card-socials .socials .social:first-child {
  margin-right: 10px;
}
.speaker--card.big {
  height: 588px;
}
.speaker--card.big .speaker--card-image {
  margin-top: 70px;
  width: 100%;
  transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.speaker--card.big .speaker--card-profile {
  position: absolute;
  color: var(--white);
  bottom: 38px;
  padding-left: 33px;
  z-index: 2;
  transition: bottom 0.5s;
}
.speaker--card.big .speaker--card-profile h3 {
  font-size: 2.4em;
  max-width: 200px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.speaker--card.big .speaker--card-profile p {
  font-size: 0.9em;
}
.speaker--card.big .speaker--card-socials {
  visibility: hidden;
  position: absolute;
  bottom: -40px;
  z-index: 0;
  transition: bottom 0.5s;
}
.speaker--card.medium {
  height: 350px;
}
.speaker--card.medium .organizer--card-image {
  margin-top: 79px;
  width: 100%;
  transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.speaker--card.medium .organizer--card-profile {
  position: absolute;
  color: var(--white);
  bottom: 26px;
  padding-left: 23px;
  z-index: 2;
  transition: bottom 0.5s;
}
.speaker--card.medium .organizer--card-profile h3 {
  font-size: 1.4em;
  max-width: 185px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.speaker--card.medium .organizer--card-profile p {
  font-size: 0.65em;
}
.speaker--card.medium .organizer--card-socials {
  visibility: hidden;
  position: absolute;
  bottom: -40px;
  z-index: 0;
  transition: bottom 0.5s;
}
.speaker--card.bas {
  display: flex;
  justify-content: center;
  align-items: center;
}
.speaker--card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}/*# sourceMappingURL=styles.module.css.map */