@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.devfest-carousel__wrapper {
    cursor: none;
    .devfest-carousel {

        &.logos {
            height: 126px;
        }

        &.text {
            height: 52px;
        }

        width: 100vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: var(--white);
        color: var(--dark);
        white-space: nowrap;
        position: relative;

        &::after,&::before {
            position: absolute;
            top: 0;
            height: 50px;
            content: "";
            z-index: 2;
        }

        &:before {
            left: 0;
            background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
        }

        &:after {
            right: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
        }

        &:hover {
            .text-carousel {
                animation-play-state: paused;
            }
        }

        .text-carousel {
            width: 380px;
            display: grid;
            grid-template-columns: 305px 1fr;
            column-gap: 60px;
            margin-left: 40px;
            animation: 5s slide infinite linear;
    
            .-icon {
                .diagonal-arrow {
                    background-image: url('../../../assets/svgs/diagonal-arrow.svg');
                }
            }
        }

        .logo-carousel {
            width: 200px;
            height: inherit;
            margin-left: 52px;
            animation: 5s slide infinite linear;
        }
    }

}
