.parentContainer{
    width: 900px;
    height: auto;

     .formContainer{
        background-color: #172B37;
        width: 100%;
        height: 700px;
        padding: 40px 0;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form{
        width: 700px;
        height: 600px;
        overflow-y: auto;
        margin: auto;
        border: none;
    }

     @media only screen and (min-width: 250px) and (max-width: 480px) {
        width: 350px;
    }

    @media only screen and (min-width: 480px) and (max-width: 768px) {
        width: 400px;
    }
    @media only screen and (min-width: 768px) and (max-width: 900px) {
        width: 550px;
    }

}

.formHeaderContainer {
    width: 100%;
    color: white;
    text-align: center;
    
    .headerText{
        margin-bottom: 15px;
        font-size: 36px;
    }

    .headerSubText{
        font-size: 17px;
        margin-bottom: 15px;
    }

    @media screen and (max-width: 768px) {
        margin: 30px auto;

        .headerText{
            font-size: 30px;
        }

        .headerSubText{
            font-size: 16px;
        }
    }
}