.container {
  background-color: var(--dark);
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  cursor: none;
}
@media screen and (max-width: 820px) {
  .container {
    flex-wrap: wrap;
  }
}
.container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex-basis: 50%;
  padding: 20px 50px;
}
@media screen and (max-width: 820px) {
  .container__text {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 640px) {
  .container__text {
    padding: 1.5rem;
  }
}
.container__text h1,
.container__text p {
  color: var(--white);
}
.container__text h1 {
  font-size: 72px;
}
@media screen and (max-width: 640px) {
  .container__text h1 {
    font-size: 3rem;
  }
}
.container__text p {
  line-height: 1.5;
  color: var(--light-gray);
  font-weight: 100;
  margin-bottom: 2rem;
}
.container__pills {
  background-color: transparent;
  height: 100vh;
  width: 100%;
  flex-basis: 50%;
  position: relative;
}
@media screen and (max-width: 820px) {
  .container__pills {
    flex-basis: 100%;
    min-height: 65vh;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .container__pills {
    flex-basis: 100%;
    min-height: 80vh;
  }
}
.container__pills--el {
  position: absolute;
  transform-origin: center top;
  left: 0;
}
.container__pills--el:nth-child(1) {
  top: 5rem;
}
@media screen and (max-width: 820px) {
  .container__pills--el:nth-child(1) {
    top: 7rem;
    left: 60px;
  }
}
@media screen and (max-width: 640px) {
  .container__pills--el:nth-child(1) {
    top: 1rem;
    left: 17px;
  }
}
.container__pills--el:nth-child(2) {
  top: 13rem;
  transform: rotate(-10deg);
}
@media screen and (max-width: 820px) {
  .container__pills--el:nth-child(2) {
    top: 15rem;
    left: 60px;
  }
}
@media screen and (max-width: 640px) {
  .container__pills--el:nth-child(2) {
    top: 7rem;
    left: 0px;
  }
}
.container__pills--el:nth-child(3) {
  top: 7rem;
  left: 22rem;
  transform: rotate(17deg);
}
@media screen and (max-width: 820px) {
  .container__pills--el:nth-child(3) {
    top: 7rem;
    left: 34rem;
  }
}
@media screen and (max-width: 768px) {
  .container__pills--el:nth-child(3) {
    left: 27rem;
  }
}
.container__pills--el:nth-child(4) {
  top: 11rem;
  left: 16rem;
  transform: rotate(-20deg);
}
@media screen and (max-width: 820px) {
  .container__pills--el:nth-child(4) {
    top: 13rem;
    left: 19rem;
  }
}
@media screen and (max-width: 640px) {
  .container__pills--el:nth-child(4) {
    left: 0;
  }
}
.container__pills--el:nth-child(5) {
  top: 16rem;
  left: 28rem;
  transform: rotate(-29deg);
}
@media screen and (max-width: 820px) {
  .container__pills--el:nth-child(5) {
    top: 20rem;
    left: 31rem;
  }
}
@media screen and (max-width: 640px) {
  .container__pills--el:nth-child(5) {
    left: 0;
  }
}
.container__pills--el:nth-child(6) {
  top: 16rem;
  left: 16rem;
  transform: rotate(-29deg);
}
@media screen and (max-width: 820px) {
  .container__pills--el:nth-child(6) {
    top: 20rem;
    left: 18rem;
  }
}
@media screen and (max-width: 640px) {
  .container__pills--el:nth-child(6) {
    left: 10rem;
  }
}
.container__pills--el:nth-child(7) {
  top: 22rem;
  left: 4rem;
  transform: rotate(6deg);
}
@media screen and (max-width: 640px) {
  .container__pills--el:nth-child(7) {
    top: 9rem;
    left: 12rem;
    transform: rotate(90deg);
  }
}
.container__pills--el:nth-child(8) {
  top: 27rem;
  left: 19rem;
  transform: rotate(-30deg);
}
@media screen and (max-width: 820px) {
  .container__pills--el:nth-child(8) {
    top: 34rem;
    left: 19rem;
  }
}
@media screen and (max-width: 640px) {
  .container__pills--el:nth-child(8) {
    top: 29rem;
    left: 13rem;
  }
}
.container__pills--el:nth-child(9) {
  top: 27rem;
  left: 32rem;
  transform: rotate(-20deg);
}
@media screen and (max-width: 640px) {
  .container__pills--el:nth-child(9) {
    top: 28rem;
    left: 0rem;
  }
}
.container__pills--el:nth-child(10) {
  top: 32rem;
  left: 10rem;
  transform: rotate(36deg);
}
@media screen and (max-width: 640px) {
  .container__pills--el:nth-child(10) {
    top: 35rem;
    left: 10rem;
  }
}
.container__pills--el:nth-child(11) {
  top: 39rem;
  left: 10rem;
  transform: rotate(20deg);
}
@media screen and (max-width: 640px) {
  .container__pills--el:nth-child(11) {
    top: 36rem;
    left: 2rem;
  }
}/*# sourceMappingURL=styles.module.css.map */