.container {
  background-color: var(--dark);
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  cursor: none;

  @media screen and (max-width: 820px) {
    flex-wrap: wrap;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex-basis: 50%;
    padding: 20px 50px;

    @media screen and (max-width: 820px) {
      flex-basis: 100%;
    }

    @media screen and (max-width: 640px) {
      padding: 1.5rem;
    }

    h1,
    p {
      color: var(--white);
    }
    h1 {
      font-size: 72px;

      @media screen and (max-width: 640px) {
        font-size: 3rem;
      }
    }
    p {
      line-height: 1.5;
      color: var(--light-gray);
      font-weight: 100;
      margin-bottom: 2rem;
    }
  }

  &__pills {
    background-color: transparent;
    height: 100%;
    width: 100%;
    flex-basis: 50%;
    position: relative;

    @media screen and (max-width: 820px) {
      flex-basis: 100%;
      min-height: 65vh;
      overflow: hidden;
    }

    @media screen and (max-width: 768px) {
      flex-basis: 100%;
      min-height: 80vh;
    }

    &--el {
      position: absolute;
      transform-origin: center top;
      //   left: 20px;
      left: 0;

      &:nth-child(1) {
        top: 5rem;

        @media screen and (max-width: 820px) {
          top: 7rem;
          left: 60px;
        }

        @media screen and (max-width: 640px) {
          top: 1rem;
          left: 17px;
        }
      }
      &:nth-child(2) {
        top: 13rem;
        transform: rotate(-10deg);

        @media screen and (max-width: 820px) {
          top: 15rem;
          left: 60px;
        }

        @media screen and (max-width: 640px) {
          top: 7rem;
          left: 0px;
        }
      }
      &:nth-child(3) {
        top: 7rem;
        left: 22rem;
        transform: rotate(17deg);

        @media screen and (max-width: 820px) {
          top: 7rem;
          left: 34rem;
        }

        @media screen and (max-width: 768px) {
          left: 27rem;
        }
      }
      &:nth-child(4) {
        top: 11rem;
        left: 16rem;
        transform: rotate(-20deg);

        @media screen and (max-width: 820px) {
          top: 13rem;
          left: 19rem;
        }

        @media screen and (max-width: 640px) {
          left: 0;
        }
      }
      &:nth-child(5) {
        top: 16rem;
        left: 28rem;
        transform: rotate(-29deg);

        @media screen and (max-width: 820px) {
          top: 20rem;
          left: 31rem;
        }

        @media screen and (max-width: 640px) {
          left: 0;
        }
      }
      &:nth-child(6) {
        top: 16rem;
        left: 16rem;
        transform: rotate(-29deg);

        @media screen and (max-width: 820px) {
          top: 20rem;
          left: 18rem;
        }

        @media screen and (max-width: 640px) {
          left: 10rem;
        }
      }
      &:nth-child(7) {
        top: 22rem;
        left: 4rem;
        transform: rotate(6deg);

        @media screen and (max-width: 640px) {
          top: 9rem;
          left: 12rem;
          transform: rotate(90deg);
        }
      }
      &:nth-child(8) {
        top: 27rem;
        left: 19rem;
        transform: rotate(-88deg);

        @media screen and (max-width: 820px) {
          top: 34rem;
          left: 19rem;
        }

        @media screen and (max-width: 640px) {
          top: 29rem;
          left: 13rem;
        }
      }
      &:nth-child(9) {
        top: 27rem;
        left: 32rem;
        transform: rotate(-20deg);

        @media screen and (max-width: 640px) {
          top: 28rem;
          left: 0rem;
        }
      }
      &:nth-child(10) {
        top: 32rem;
        left: 10rem;
        transform: rotate(36deg);

        @media screen and (max-width: 640px) {
          top: 35rem;
          left: 10rem;
        }
      }
      &:nth-child(11) {
        top: 39rem;
        left: 10rem;
        transform: rotate(20deg);

        @media screen and (max-width: 640px) {
          top: 36rem;
          left: 2rem;
        }
      }
    }
  }
}
