.container {
  width: auto;
  padding: 15px 25px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
}
