.galleryContainer {
  padding-top: 5rem;

  @media screen and (max-width: 768px) {
    padding-top: 2rem;
  }

  .container {
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    @media screen and (max-width: 768px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .flexContainer {
      margin-top: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 3.4rem;
        line-height: 60px;
        font-weight: 400;

        @media screen and (max-width: 768px) {
          font-size: 1.5px;
          line-height: 30px;
          font-weight: 600;
        }
      }
    }

    p {
      font-size: 1rem;
      line-height: 20px;
      font-weight: 500;

      @media screen and (max-width: 768px) {
        padding-top: 1rem;
        text-align: center;
        font-size: 17px;
        line-height: 15px;
      }
    }

    .imageContainer {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .flexImage {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.3rem;
        flex-wrap: wrap;
        flex-direction: row;

        .image {
          width: 19%;
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }

    .centerText {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 50px;
        line-height: 60px;
        font-weight: 400;
      }

      .color {
        background-color: var(--primary);
        height: 15px;
        width: 18rem;
      }

      @media screen and (max-width: 768px) {
        h2 {
          text-align: center;
          font-weight: 500;
          font-size: 30px;
          line-height: 30px;
        }

        .color {
          width: 10rem;
        }
      }
    }
  }
}
.darkContainer {
  background-color: var(--dark);
  color: #fff;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 3rem;
  padding-bottom: 5rem;

  @media screen and (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .textInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 60px;
      line-height: 65px;
      font-weight: 400;
    }

    p {
      font-size: 1rem;
      line-height: 20px;
      font-weight: 400;
    }

    @media screen and (max-width: 768px) {
      h2 {
        font-size: 30px;
        line-height: 35px;
        text-align: center;
      }

      p {
        text-align: center;
        font-weight: 400;
      }
    }
  }

  .categoryImages {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      gap: 1rem;
    }

    .flexCategory {
      display: flex;
      //   justify-content: space-between;
      align-items: center;
      gap: 2rem;
      flex-direction: row;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
      }

      .image {
        @media screen and (max-width: 768px) {
          width: 100%;
          flex-direction: column;
        }
      }
    }
  }

  .centerBtn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    Button {
      p {
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
      }
    }
  }
}
