.container {
  width: 100vw;
  height: 100vh;
  background-color: red;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  background: var(--white);
}
