.container {
  width: 296px;
  height: 64px;
  position: relative;

  @media screen and (max-width: 640px) {
    width: 100%;
  }

  span {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 0;
    bottom: 0;
    width: inherit;
    background-color: var(--white);
    height: inherit;
  }
}
.button {
  width: 100%;
  height: 100%;
  max-height: auto;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  transition: all 100ms ease-in-out;
  background-color: var(--primary);
  text-transform: uppercase;
  color: var(--white);
  position: relative;
  z-index: 100000;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
