.container {
  width: 100%;
  padding-top: 90px;
  color: white;

  .content {
    width: 93%;
    margin: auto;

    div {
      margin-bottom: 50px;
      h2 {
        font-size: 72px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        font-size: 20px;
      }

      @media screen and (max-width: 768px) {
        text-align: center;
        h2 {
          font-size: 45px;
        }
      }
    }

    .break_out {
      width: 100%;
      min-height: 120px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      // align-items: center;
      background-color: #172b37;
      border-top: 1px solid #4d6371;
      margin-bottom: 50px;
      padding: 20px;

      h2 {
        font-size: 36px;
        font-weight: normal;
      }
    }
  }
}

.parentContainer {
  width: 100%;
  height: 62px;
  background-color: #f9ab00;
  margin-bottom: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .childContainer {
    width: 100%;
    height: 60px;
    background-color: #4285f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      overflow-x: auto;
    }

    .text__container {
      width: 200px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;

      .text {
        font-size: 17px;
      }

      @media screen and (max-width: 768px) {
        width: 600px;

        .text {
          width: 150px;
        }
      }
    }

    .text__container:hover {
      background-color: #f9ab00;
      padding: 19px 0 18px 0;
    }

    .active {
      background-color: #f9ab00;
      padding: 19px 0 18px 0;
    }
  }
}
