.container {
  width: 100vw;
  background-color: var(--dark);
  padding-top: 57px;
}
.container .speakers__wrapper {
  position: relative;
  width: 100%;
  background-color: var(--white);
}
.container .speakers__wrapper .curve {
  background-color: var(--dark);
  position: absolute;
  width: 150px;
  height: 80px;
  top: 0;
}
.container .speakers__wrapper .curve.left {
  left: 0;
  border-bottom-right-radius: 22px;
}
.container .speakers__wrapper .curve.right {
  right: 0;
  border-bottom-left-radius: 22px;
}
@media only screen and (min-width: 250px) and (max-width: 480px) {
  .container .speakers__wrapper .curve {
    height: 50px;
    overflow-x: hidden;
  }
}
.container .speakers__wrapper .speakers__content {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/imgs/cbg.png");
  background-position: center center;
}
.container .speakers__wrapper .speakers__content--title {
  padding-top: 50px;
}
.container .speakers__wrapper .speakers__content--title h1 {
  text-align: center;
  font-size: 3.6em;
}
@media only screen and (min-width: 250px) and (max-width: 480px) {
  .container .speakers__wrapper .speakers__content {
    height: 150px;
  }
  .container .speakers__wrapper .speakers__content--title {
    padding-top: 25px;
  }
  .container .speakers__wrapper .speakers__content--title h1 {
    text-align: center;
    font-size: 2em;
  }
}
.container .speakers__wrapper .speakers__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 0;
       column-gap: 0;
}
.container .speakers__wrapper .speakers__cards .speaker--card {
  position: relative;
}
.container .speakers__wrapper .speakers__cards .speaker--card.big {
  height: 588px;
}
.container .speakers__wrapper .speakers__cards .speaker--card.bas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .speakers__wrapper .speakers__cards .speaker--card.bas h3 {
  font-size: 2.4em;
  max-width: 244px;
  font-weight: 400;
  margin-top: 30px;
  color: var(--dark);
}
@media only screen and (min-width: 0px) and (max-width: 1024px) {
  .container .speakers__wrapper .speakers__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 250px) and (max-width: 480px) {
  .container .speakers__wrapper .speakers__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.container .organizers__wrapper {
  max-width: 1274px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 157px;
}
@media only screen and (min-width: 0px) and (max-width: 1024px) {
  .container .organizers__wrapper {
    max-width: 700px;
  }
}
@media only screen and (min-width: 250px) and (max-width: 480px) {
  .container .organizers__wrapper {
    padding: 33px;
  }
}
.container .organizers__wrapper .organizers__content {
  height: 190px;
  margin-bottom: 28px;
}
.container .organizers__wrapper .organizers__content--title {
  padding: 63px 0 53px;
  color: var(--white);
}
.container .organizers__wrapper .organizers__content--title h1 {
  font-size: 3.6em;
  font-weight: 400px;
}
@media only screen and (min-width: 250px) and (max-width: 480px) {
  .container .organizers__wrapper .organizers__content {
    height: 150px;
    margin-bottom: 0;
  }
  .container .organizers__wrapper .organizers__content--title {
    padding-top: 25px;
    padding-bottom: 29px;
  }
  .container .organizers__wrapper .organizers__content--title h1 {
    font-size: 2em;
  }
}
.container .organizers__wrapper .organizers__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 0;
       column-gap: 0;
}
@media only screen and (min-width: 0px) and (max-width: 1024px) {
  .container .organizers__wrapper .organizers__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 250px) and (max-width: 480px) {
  .container .organizers__wrapper .organizers__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=styles.module.css.map */